/* Footer.css */

.footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 2rem 1rem 1rem;
    font-family: 'Montserrat', sans-serif;
  }
  
  .footer-container {
    margin-bottom: 1rem;
  }
  
  .footer-title {
    font-size: 1.8rem;
    font-weight: 700;
    color: #db49fb; /* Violeta brillante */
    margin-bottom: 0.5rem;
  }
  
  .footer p {
    margin: 0.3rem 0;
    font-size: 0.95rem;
    color: #ccc;
  }
  
  .footer-bottom {
    border-top: 1px solid #333;
    padding-top: 1rem;
    font-size: 0.85rem;
    color: #999;
  }
  