@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  font-family: 'Montserrat', sans-serif;
  z-index: 10;
  background: rgba(20, 20, 20, 0.003); /* más claro */
  backdrop-filter: blur(2px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.navbar-container {
  max-width: 1400px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 3rem;
  justify-content: space-between;
  position: relative;
}

/* LOGO GRANDE Y MÁS PROTAGÓNICO */
.navbar-logo {
  height: 340px;
  transform-origin: center;
  transition: transform 0.3s ease;
  margin-left: 4vw; /* ocupa del 0 al 25% aprox. */
  cursor: pointer;
}

.navbar-logo:active {
  transform: scale(1.05);
}

.nav-links {
  display: flex;
  gap: 2rem;
  align-items: center;
  padding-right: 2vw;
}

.nav-links a {
  position: relative;
  color: #ffffff;
  font-weight: 600;
  font-size: 1.15rem;
  text-decoration: none;
  transition: all 0.3s ease;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.05);
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background: linear-gradient(90deg, #db49fb, #ff6ec4);
  transition: width 0.3s ease;
  border-radius: 2px;
}

.nav-links a:hover {
  text-shadow:
    0 0 4px #db49fb,
    0 0 6px #db49fb,
    0 0 12px #db49fb;
}

.nav-links a:hover::after {
  width: 100%;
}

/* MENU HAMBURGUESA */
.menu-toggle {
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  transition: all 0.3s ease;
}

.menu-toggle .bar.open:nth-child(1) {
  transform: rotate(45deg) translateY(8px);
}

.menu-toggle .bar.open:nth-child(2) {
  opacity: 0;
}

.menu-toggle .bar.open:nth-child(3) {
  transform: rotate(-45deg) translateY(-8px);
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 100px;
    right: 0;
    background: rgba(18, 18, 18, 0.97);
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    gap: 1rem;
    display: none;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-toggle {
    display: flex;
  }

  .navbar-logo {
    height: 140px;
    margin-left: 1rem;
  }
}
